<!DOCTYPE html>
<html lang="en-us">
<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<title>UserB</title>
	<link rel="stylesheet" href="/s/css/styles.css">
	<script src="/s/js/jquery.min.js"></script>

	<script type="text/javascript" src="/s/js/js.ext.js"></script>
	<script type="text/javascript" src="/s/js/js.ext.dom.js"></script>

	<script type="text/javascript" src="/s/js/Module.js"></script>
	<script async type="text/javascript" src="/s/js/WacomInkEngine.js"></script>

	<script type="text/javascript" src="/s/js/app.js"></script>

	<style type="text/css">
		body {position: relative; overflow: hidden; margin: 0; padding: 0; background-color: #252525; color: white;}
		canvas {border: 0px none;}
	</style>
</head>
<body>
	<canvas id="canvas" oncontextmenu="WILL.clear(); event.preventDefault();"></canvas>
</body>
</html>
